@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria :#402218;
    --cor-secundaria : #D7B19D;
    --cor-terciaria : #865439;

    --font-primaria : 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* { 
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color:var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho{
    padding: 2% 0% 0% 15%;
    
}
.cabecalho_menu{
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.container {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.container_conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.container_conteudo_titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}
.destaques-titulo {
    color: var(--cor-terciaria);
}
.container_conteudo_subtitulo {
    font-size: 30px;
    font-family: var(--font-primaria);
}
.destaques{
    color: var(--cor-secundaria);
}
.container_conteudo_paragrafo {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    text-decoration: none;

}

.container_buttons_subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400; /*peso da font*/
    font-size: 1.5rem;
}

.container_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}
.container_buttons_button {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.container_buttons_button:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    padding: 3%;

}
.container_buttons_button_imgicone{
    width: 33px;
    height: 32px;
}
.container_conteudo_paragrafo a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.container_imgPrincipal{
    width: 50%;
    border-radius: 20px;
}
.container_curriculo{
    width: 100%;
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container_curriculo_conteudo{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.rodape {
    padding: 1.5rem;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);  
    text-align: center;  
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
}
@media (max-width: 1200px){
    .cabecalho{
       padding: 10%;
    }
    .cabecalho_menu{
        justify-content: center;
    }
    .container{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .container_conteudo{
        width: auto;
    }
}